<a href="https://colab.research.google.com/github/Pranjalpkamble2002/MSC_FDS_526/blob/main/FDS_PRACT1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
my_dict={'Name':["a","b","c","d","d","e","f","g"],
         'age':[20,27,35,56,78,34,52,29],
         'designation':["vp","ceo","cfo","vp","ceo","vp","cfo","vp"]}

In [4]:
import pandas as pd
import numpy as np
df=pd.DataFrame(my_dict)
df

  Name  age designation
0    a   20          vp
1    b   27         ceo
2    c   35         cfo
3    d   56          vp
4    d   78         ceo
5    e   34          vp
6    f   52         cfo
7    g   29          vp

In [5]:
df.to_csv('csv example')
df

  Name  age designation
0    a   20          vp
1    b   27         ceo
2    c   35         cfo
3    d   56          vp
4    d   78         ceo
5    e   34          vp
6    f   52         cfo
7    g   29          vp

In [6]:
df_csv=pd.read_csv('Csv example')
df_csv

FileNotFoundError: ignored